footer
  .container.text-center
    p.float-left © 2019 Company, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='') Link1
      li.list-inline-item
        a(href='') Link2
